# Use Git LFS for large binary/source files
*.psd filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text

# Images can remain in git if small; adjust if needed
assets/images/* -text
